<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <%= csrf_meta_tag %>
  <%= render 'layouts/stylesheets' %>
</head>
<body>

<header>

<%= render 'layouts/header' %>

</header>

<div role="main">

  <div style="text-align: center;">
    <%= image_tag "http://placehold.it/420x110", :alt => "logo", :class => "img-polaroid" %>
    <%= image_tag "http://placehold.it/420x110", :alt => "logo", :class => "img-polaroid" %>
    <%= image_tag "http://placehold.it/420x110", :alt => "logo", :class => "img-polaroid" %>
  </div>

  <%= yield %>

</div>

<%= render 'layouts/footer' %>

</body>
</html>